@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';

}

.logo {
    margin: 7px 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    padding: 4px 0;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header__list {
    position: relative;
    z-index: -1;
    display: flex;
    gap: 30px;
}

.header__dropdown {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #837EDE;
    border-radius: 2px;
    width: 101px;
    top: 40px;
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.header__dropdown-link {
    padding: 5px 30px;
    display: inline-block;
    font-size: 12px;
    color: #000;
}

.header__dropdown-item:nth-of-type(2) {
    border-top: 1px solid #837EDE;
    border-bottom: 1px solid #837EDE;
}

.header__item {
    position: relative;
    margin: 8px 0;
}


.header__item:hover .header__dropdown {
    opacity: 1;
    z-index: 1;
}

.header-nav__link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 0 4px;
}

.header-nav__link img {
    width: 18px;
    height: 18px;
}

.arrow-righttt {
    background-color: #837EDE;
    padding: 9px 9px;
    border-radius: 50%;
}

.header-nav__link-btn {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    border-radius: 100px;
    background: #837EDE;
    display: inline-flex;
    padding: 4px 5px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.arrow {
    color: #fff;
    background-color: #837EDE;
    font-size: 32px;
    border-radius: 100px;
}


.plus {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}

.img__box-mini img {
    width: 100%;
}

.img__box-mini2 img {
    width: 100%;
}


.header__img {
    margin-top: 90px;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.header__box-mini {
    display: flex;
    gap: 22px;
}

.header__box-mini1 {
    display: flex;
    gap: 22px;
}

.header__box-mini2 {
    display: flex;
    gap: 22px;
}

.header__box-mini3 {
    display: flex;
    gap: 22px;
}

.img__box {
    display: flex;
    gap: 15px;
    margin-top: 32px;
}

.arrow-left {
    padding: 10px 0;
}



/* header end main start */



.titles__main {
    margin-top: 180px;
}

.title__maim-p {
    color: #837EDE;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0;
}

.main__box {
    display: flex;
    gap: 17px;
    margin-top: 48px;
}

.h2__title__main-h2 {
    color: #000;
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.main__box__mini {
    width: 100%;
    max-width: 428px;
    min-height: 473px;
    border-radius: 24px;
    background: #837EDE;
}

.box__mini-box {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px;
}

.p__mini {
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.txt__h3 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 24px 32px;
}

.title__p {
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 0 32px;
}

.check {
    padding: 0 32px;
    margin-top: 68px;
    width: 100%;
}

.checkk {
    width: 100%;
    padding: 0 32px;
    margin-top: 42px;
}

.checkkk {
    width: 100%;
    padding: 0 32px;
    margin-top: 74px;
}

.check__btn {
    display: inline-block;
    padding: 5px 5px;
    margin: 10px 120px;
    margin-top: 42px;
    border-radius: 100px;
    background: #FFF;
    display: flex;
    gap: 30px;
    border: none;
}

.check__btnn {
    display: inline-block;
    padding: 5px 5px;
    margin: 10px 120px;
    margin-top: 42px;
    border-radius: 100px;
    background: #837EDE;
    display: flex;
    gap: 30px;
    border: none;
}

.check__p {
    color: #837EDE;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 0;
    margin-left: 46px;
}

.check__pp {
    color: #fff;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 0;
    margin-left: 46px;
}

.check-i {
    font-size: 26px;
    background-color: #837EDE;
    color: #FFF;
    border-radius: 50%;
    padding: 1px 0;
}

.main__box__mini-white {
    border: solid 1px #837EDE;
    width: 100%;
    max-width: 428px;
    min-height: 473px;
    border-radius: 24px;
}

.check__btn-white {
    display: inline-block;
    padding: 5px 42px;
    margin: 0 120px;
    margin-top: 42px;
    border-radius: 100px;
    background: #837EDE;
    display: flex;
    gap: 10px;
}


.check__p-white {
    color: #fff;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 0;
    margin-left: 6px;
}

.white-plus {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}

.txt__h3-white {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 24px 32px;
}

.p__mini- {
    color: rgba(0, 0, 0, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.title__p-white {
    color: rgba(0, 0, 0, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 0 32px;
}

.main__box-two {
    display: flex;
    gap: 17px;
    margin-top: 20px;
}

.main__box__mini-white-two {
    border: solid 1px #837EDE;
    width: 100%;
    max-width: 428px;
    min-height: 473px;
    border-radius: 24px;
}

.box__mini-box-two {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px;
}

.p__mini-two- {
    color: rgba(0, 0, 0, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.txt__h3-white-two {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 24px 32px;
}

.title__p-white-two {
    color: rgba(0, 0, 0, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 0 32px;
}

.check__btn-white-two {
    display: inline-block;
    padding: 5px 42px;
    margin: 0 120px;
    margin-top: 42px;
    border-radius: 100px;
    background: #837EDE;
    display: flex;
    gap: 10px;
}

.check__p-white-two {
    color: #fff;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 0;
    margin-left: 5px;
}

.main__box__mini-two {
    width: 100%;
    max-width: 428px;
    min-height: 473px;
    border-radius: 24px;
    background: #837EDE;
}

.box__mini-box-two {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px;
}

.p__mini-two {
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.txt__h3-two {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 24px 32px;
}

.title__p-two {
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 0 32px;
}

.check__btn-two {
    display: inline-block;
    padding: 5px 42px;
    margin: 10px 120px;
    margin-top: 42px;
    border-radius: 100px;
    background: #FFF;
    display: flex;
    gap: 10px;
}

.check__p-two {
    color: #837EDE;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 0;
    margin-left: 8px;
}

.main__title__box {
    margin-top: 180px;
}

.main__kl-box {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.txt__kl {
    color: #837EDE;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0;
}

.title__h2-kl {
    color: #000;
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.main__mini--box {
    display: flex;
    gap: 16px;
}

.txt__kl-mini {
    color: #000;
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.russia {
    width: 100%;
    margin-top: 32px;
}


.corusell {
    width: 100%;
    min-height: 666px;
    border-radius: 24px;
    background: #FDF5E3;
    margin-top: 70px;
    padding: 30px 0;
}

.coru__box {
    padding: 90px 0;
}

.coru__p {
    color: #837EDE;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0;
}

.coru__h2 {
    color: #000;
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.grop-minicorusell {
    display: flex;
    justify-content: space-between;
    margin: 37px 0;
}

.mini-grop {
    display: flex;
}

.mini-grop-mini-box1 {
    color: var(--main-purple, #837EDE);
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}

.mini-grop-mini-box2 {
    color: #F4EBFF;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}

.left-grop {
    background-color: #837EDE;
    color: #fff;
    font-size: 19px;
    padding: 12px 11px;
    border-radius: 50%;
}

.btns-grop-left {
    border: none;
    border-radius: 50%;
}

.right-grop {
    background-color: #837EDE;
    color: #fff;
    font-size: 19px;
    padding: 12px 11px;
    border-radius: 50%;
}

.age__box {
    display: flex;
    justify-content: space-between;
}

.age__box-mini {
    display: flex;
    gap: 24px;
}

.age__link-p {
    color: #000;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #000;
    transition: 0.5s;
}

.age__link-p:hover {
    color: #fff;
    border: 0;
    background-color: #837EDE;
}

.carusell__box-mini {
    width: 316px;
    height: 270px;
    border-radius: 24px;
    background: #FFF;
    transition: 0.5s;
}

.caru__h3 {
    color: #000;
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 32px 32px;
}

.p__carusell {
    color: #928D99;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 252px;
    height: 162px;
    margin: 0 32px;
}

.carusell__box {
    margin-top: 40px;
    overflow: hidden;
}

.btn-left {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #837EDE;
    cursor: pointer;
}

.btn-right {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #837EDE;
    cursor: pointer;
}

.btns {
    gap: 16px;
}

.carusell__box-mini:hover {
    background: #F6CB73;
}

.carusell__swepper {
    display: flex;
    gap: 17px;
}


.group__txt {
    margin-top: 90px;
}

.main__p-grop {
    color: var(--main-purple, #837EDE);
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0;
}

.main__h2-group {
    color: #000;
    font-family: 'Nunito';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}


.main__box-grop {
    display: flex;
    gap: 100px;
}


.h2-name {
    color: #000;
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    padding: 8px 0;
}

.skil {
    padding: 14px 24px;
    color: #000;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 700;
    border-radius: 16px;
    background: #FDF5E3;
    display: inline-block;
    margin: 8px 0;
}

.age__skil {
    color: #000;
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 48px;
    padding: 16px 0;
}

.skill-txt {
    color: #928D99;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.skil-txt {
    color: var(--black, #000);
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 16px;
}

.skil-box {
    display: flex;
    gap: 16px;
}

.skil-box-mini {
    color: #000;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 700;
    padding: 8px 24px;
    background-color: #F6CB73;
    border-radius: 24px;
}

/* main end footer start */

.footer {
    width: 100%;
    min-height: 344px;
    border-radius: 24px 24px;
    background: #F4EBFF;
    margin-top: 180px;
    padding: 53px 54px;
}


.list__footer {
    display: flex;
    flex-direction: column;
    gap: 171px;
    margin-top: 53px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}

.txt-big {
    color: #000;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.ft-txt {
    color: #000;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 32px 0;
}

.mini-txt {
    padding: 12px 0;
}

.end {
    display: flex;
    margin-top: 68px;
}

.start {
    cursor: pointer;
    margin: 0 10px;
}

.footer__box-minii {
    margin-left: 23px;
}

/* Togler menu active */



.bar {
    width: 30px;
    height: 2px;
    background: #837EDE;
    margin: 5px;
    transition: 0.5s;
}

.togler {
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px 18px;
    z-index: 9;
    display: none;
}

/* active bar */

.togler.active .bar:nth-child(2) {
    opacity: 0;
}

.togler.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    background-color: #fff;
}

.togler.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
}

/* header__list active */


.header__list.active {
    top: 0;
}